body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/54/Power_County_Wind_Farm_002.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}